@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Space Grotesk";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  width: 100%;
  position: relative;
  height: 190px;
  background: url("./images/bg-main-mobile.png");
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
}

.card-back::before {
  content: "";
  position: absolute;
  display: inline-block;
  background: url(./images/bg-card-back.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 224px;
  height: 124px;
  left: 1rem;
  bottom: -3rem;
}

.card-front::before {
  content: "";
  position: absolute;
  display: block;
  background: url(./images/bg-card-front.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 217px;
  height: 119px;
  left: -3rem;
  top: 2.4rem;
}

.card-front {
  display: flex;
  flex-direction: column;
}

.card-cvv {
  display: inline-block;
  width: 37px;
  color: white;
  position: relative;
  top: -0.3rem;
  left: 11rem;
}

.card-logo {
  position: relative;
  top: 3rem;
  left: -2rem;
  width: 50px;
}

.card-number {
  display: inline-block;
  width: 186px;
  position: relative;
  color: white;
  top: 5rem;
  left: -2rem;
}

.card-name-expiryDate {
  color: white;
  position: relative;
  font-size: 0.7rem;
  top: 5.4rem;
  display: inline-block;
  left: -2.6rem;
}

.card-name {
  display: inline-block;
  width: 120px;
}

.card-date {
  margin-left: 50px;
  margin-left: 50px;
  display: inline-block;
  width: 33px;
}

form {
  width: 80%;
  height: 500px;
  display: flex;
  align-items: flex-end;
}

#card-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#card-form label {
  margin-top: 4px;
  margin-bottom: 4px;
  color: hsl(278, 68%, 11%);
}

#card-form input {
  padding: 10px;
  height: 50px;
  margin-top: 4px;
  border-radius: 11px;
  box-sizing: border-box;
  font-size: 1.3rem;
  color: hsl(278, 68%, 11%);
  border: 2px solid hsl(279, 6%, 55%);
}

#card-form input:focus {
  outline: none;
  border: 2px solid hsl(278, 68%, 11%);
}

::placeholder {
  color: hsl(279, 6%, 55%);
}

#expiry-form {
  display: flex;
  margin-top: 6px;
}

#input-month-year {
  display: flex;
}

#input-month-year input {
  width: 40%;
  margin-right: 10px;
}

#cvc-box {
  width: 80%;
}
#cvc-box input {
  width: 100%;
}

.btn {
  margin-top: 24px;
  height: 50px;
  margin-top: 10px;
  height: 50px;
  border-radius: 11px;
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(278, 68%, 11%);
}

.card-para {
  height: 20px;
  margin: 10px 0px;
  font-size: 0.9rem;
  color: hsl(0, 100%, 66%);
}

@media only screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: row;
  }

  .card-container {
    position: relative;
    width: 300px;
    height: 100vh;
    background: url("./images/bg-main-desktop.png");
  }

  .card-back::before {
    left: 8rem;
    bottom: 2rem;
  }

  .card-cvv {
    left: 18rem;
    top: -5.5rem;
  }

  .card-front::before {
    left: 4rem;
    top: 1.4rem;
  }

  .card-logo {
    top: 2rem;
    left: 5rem;
  }

  .card-number {
    top: 3.7rem;
    left: 5.1rem;
  }

  .card-name-expiryDate {
    top: 4.2rem;
    left: 4.2rem;
  }

  form {
    width: 60%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  #card-form {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
}
